<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/utils/resolve-url.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/simple-grid/simple-grid.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="cpv-form">
  <template>
    <style>
      :host {
        display: block;
        font-family: var(--cpv-font-base, 'Comfortaa');
        font-size: var(--cpv-font-size-base, 0.85rem);
        --paper-icon-button: {
          color: rgb(247, 135, 29);
        }
      }

      paper-slider {
        width: 100%;
        --paper-slider-height: 5px;
        --paper-slider-active-color: rgb(247, 135, 29);
        --paper-slider-secondary-color: rgb(247, 135, 29);
        --paper-slider-knob-color: rgb(51, 51, 51);
        --paper-slider-pin-color: rgb(51, 51, 51);
      }

      paper-button {
        font-family: var(--cpv-font-base, 'Comfortaa');
        background-color: rgb(247, 135, 29);
        text-transform: lowercase;
        font-weight: bold;
        color: #fff;
      }

      paper-button.disabled {
        background-color: gray;
      }

      h4 {
        font-size: 0.9rem;
        color: rgb(247, 135, 29);
        margin: 1.5rem 0 0.5rem;
      }

      .content {
        padding: 1rem;
        margin: 1rem;
        border: 1px solid rgb(81, 81, 81);
        border-radius: 0.5rem;
        background-color: #fff;
      }

      .well {
        padding: 1rem;
        border: 2px solid rgb(51, 51, 51);
        border-radius: 0.5rem;
      }

      .buttons {
        padding: 1rem;
        text-align: right;
      }

      .text-center {
        text-align: center;
      }

      .left {
        float: left;
      }

      .right {
        float: right;
        margin-right: -0.4rem;
      }

      .left,
      .right {
        margin-top: -1.5rem;
      }

      .center {
        display: block;
        margin: -0.5rem auto 0;
        width: 2rem;
        text-align: center;
      }

      em {
        color: rgb(247, 135, 29);
      }

      #close {
        float: right;
        background: #ccc;
        color: #fff;
        border-radius: 1.3rem;
        margin: -4rem -1rem 0 0;
        padding: 0.3rem;
      }

      paper-dialog p {
        max-width: 37rem;
      }

      paper-dialog img {
        display: block;
        margin: 0 auto;
      }

      @media only screen and (max-width: 500px) {
        .content {
          padding: 0.3rem;
          margin: 0.3rem;
        }
        .well {
          padding: 0.5rem;
        }
      }
    </style>
    <div class="content">
      <simple-grid>
        <simple-grid-row>
          <div class="col-md-2 col-xs-12"></div>
          <div class="col-md-8 text-center">
            <p>esta calculadora es una muestra de la Matriz de Valoración de
              <strong>conviccion</strong>, es un acercamiento para valorar de manera cualitativa y cuantitativa el riesgo, oportunidades,
              aspectos a potenciar de la empresa, que en conjunto establecen su nivel de Productividad Congruente&reg;</p>
            <p>este diagnóstico es para ti, en tanto seas más honesto en tus respuestas el resultado te será útil y benéfico
              para ubicar puntos de mejora en tu empresa</p>
            <p>para realizar el ejercicio deberás deslizar en cada barra de valoración numérica, en dónde se encuentra la empresa
              actualmente,
              <em>el 1 es nulo o inexistente, mientras que el 10 indica excelente y de uso cotidiano</em>
            </p>
            <img src="[[helpImage]]" style="max-width:100%;" />
          </div>
        </simple-grid-row>
        <simple-grid-row>
          <!-- <div class="col-xs-12" style="text-align: right;">
            <paper-icon-button icon="help" title="como funciona?" on-tap="_openHelp"></paper-icon-button>
          </div> -->
          <div class="col-xs-12 col-md-4 col-lg-4">
            <!-- <h2>qué</h2> -->
            <h4>visión empresarial</h4>
            <div class="well">
              <p>1. consideras que tu empresa se gestiona con una visión de negocio de mediano a largo plazo, con una propuesta
                de valor bien definida y competitividad diferenciada?</p>
              <paper-slider min="0" max="10" value="{{whatIndicator1}}" secondary-progress="10" pin>45</paper-slider>
              <span class="left">1</span>
              <span class="right">10</span>
              <span class="center">5</span>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <h4>cultura</h4>
            <div class="well">
              <p>2. se cuenta actualmente con una cultura empresarial basada en principios éticos, cumplimiento normativo (compliance
                y control interno) y con canales de comunicación adecuados para informar a los accionistas y equipo de trabajo?</p>
              <paper-slider min="0" max="10" value="{{whatIndicator2}}" secondary-progress="10" pin></paper-slider>
              <span class="left">1</span>
              <span class="right">10</span>
              <span class="center">5</span>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <h4>estructura de soporte</h4>
            <div class="well">
              <p>3. para tu actividad diaria, operan con herramientas tecnológicas de vanguardia, cuentan con áreas de soporte
                adecuados para asegurar la calidad del producto y niveles de servicio comprometidos con el cliente?</p>
              <paper-slider min="0" max="10" value="{{whatIndicator3}}" secondary-progress="10" pin></paper-slider>
              <span class="left">1</span>
              <span class="right">10</span>
              <span class="center">5</span>
            </div>
          </div>
        </simple-grid-row>
        <simple-grid-row>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <!-- <h2>con quién</h2> -->
            <h4>saber hacer</h4>
            <div class="well">
              <p>4. cada uno de los que integran el equipo de trabajo sin importar su cargo, saben lo que tienen que hacer y
                llevan a cabo sus actividades en el tiempo que lo tienen que hacer y de forma eficaz y eficiente?</p>
              <paper-slider min="0" max="10" value="{{whoIndicator1}}" secondary-progress="10" pin></paper-slider>
              <span class="left">1</span>
              <span class="right">10</span>
              <span class="center">5</span>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <h4>medición</h4>
            <div class="well">
              <p>5. se lleva a cabo de forma periódica (por lo menos semestral) la evaluación del desempeño en todos los niveles
                y de acuerdo con los resultados hacen las correcciones y el plan de compensación pertinente?</p>
              <paper-slider min="0" max="10" value="{{whoIndicator2}}" secondary-progress="10" pin></paper-slider>
              <span class="left">1</span>
              <span class="right">10</span>
              <span class="center">5</span>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <h4>gestión de capital humano</h4>
            <div class="well">
              <p>6. se tiene establecida una cultura organizacional y de comportamiento esperado de tu equipo de trabajo? se
                cuenta con un equipo específico que gestiona integralmente el capital humano para lograr la competitividad
                y el liderazgo empresarial? </p>
              <paper-slider min="0" max="10" value="{{whoIndicator3}}" secondary-progress="10" pin></paper-slider>
              <span class="left">1</span>
              <span class="right">10</span>
              <span class="center">5</span>
            </div>
          </div>
        </simple-grid-row>
        <simple-grid-row>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <!-- <h2>cómo</h2> -->
            <h4>información financiera</h4>
            <div class="well">
              <p>7. qué tanto te involucras en las definiciones estratégicas y seguimiento financiero, fiscal y contable? realizas
                un proceso de planeación financiera y estrategias fiscales? estableces acciones correctivas a partir de indicadores
                de rentabilidad, eficiencia y productividad?</p>
              <paper-slider min="0" max="10" value="{{howIndicator1}}" secondary-progress="10" pin></paper-slider>
              <span class="left">1</span>
              <span class="right">10</span>
              <span class="center">5</span>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <h4>procesos</h4>
            <div class="well">
              <p>8. tienes definidos los procesos y subprocesos que se llevan a cabo dentro de la empresa, cubren todos los
                elementos necesarios para que el trabajo se efectúe día a día de manera correcta y el servicio al cliente
                esté garantizado?</p>
              <paper-slider min="0" max="10" value="{{howIndicator2}}" secondary-progress="10" pin></paper-slider>
              <span class="left">1</span>
              <span class="right">10</span>
              <span class="center">5</span>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 col-lg-4">
            <h4>institucionalización</h4>
            <div class="well">
              <p>9. que tanto consideras que tu empresa tiene establecidos y opera con reglas de gobierno corporativo que aseguren
                el buen desempeño de la compañía a pesar de que no estés presente en el día a día?</p>
              <paper-slider min="0" max="10" value="{{howIndicator3}}" secondary-progress="10" pin></paper-slider>
              <span class="left">1</span>
              <span class="right">10</span>
              <span class="center">5</span>
            </div>
          </div>
        </simple-grid-row>
        <simple-grid-row>
          <div class="col-xs-12 col-lg-12 buttons">

            <paper-button raised on-tap="_seeResults" disabled="[[buttonDisabled]]" class$="[[_buttonClass(buttonDisabled)]]">Ver resultados</paper-button>

          </div>
        </simple-grid-row>
      </simple-grid>
    </div>
  </template>
  <script>
    class CpvForm extends Polymer.Element {
      static get is() { return 'cpv-form' }
      static get properties() {
        return {
          whatIndicator1: {
            type: Number,
            notify: true
          },
          whatIndicator2: {
            type: Number,
            notify: true
          },
          whatIndicator3: {
            type: Number,
            notify: true
          },
          howIndicator1: {
            type: Number,
            notify: true
          },
          howIndicator2: {
            type: Number,
            notify: true
          },
          howIndicator3: {
            type: Number,
            notify: true
          },
          whoIndicator1: {
            type: Number,
            notify: true
          },
          whoIndicator2: {
            type: Number,
            notify: true
          },
          whoIndicator3: {
            type: Number,
            notify: true
          },
          buttonDisabled: {
            type: Boolean,
            computed: '_buttonDisabled(whatIndicator1, whatIndicator2, whatIndicator3, howIndicator1, howIndicator2, howIndicator3, whoIndicator1, whoIndicator2, whoIndicator3)'
          },
          vendorFolder: {
            type: String,
            value: ''
          },
          helpImage: {
            type: String,
            computed: '_getHelpImageUrl()'
          }
        }
      }

      _openHelp() {
        this.$.help.open();
        this.$.help.withBackdrop = false;
      }

      _buttonDisabled() {
        for (let i = 0; i < arguments.length; i++) {
          if (arguments[i] === 0) return true;
        }
        return false;
      }

      _buttonClass(disabled) {
        return disabled ? 'disabled' : '';
      }

      _seeResults() {
        this.dispatchEvent(new CustomEvent('see-results', {
          bubbles: true,
          composed: true
        }));
      }

      _getHelpImageUrl() {
        return this.vendorFolder.concat('/assets/img/demo_selector.png');
      }

      _resizeParagraph() {
        let heights = [];
        let paragraphs = [].slice.call(this.shadowRoot.querySelectorAll('.well > p'));
        paragraphs.forEach(p => {
          p.style.minHeight = 'initial';
          heights.push(p.clientHeight);
        });
        let maxHeight = Math.max.apply(Math, heights);
        paragraphs.forEach(p => {
          p.style.minHeight = `${maxHeight}px`;
        });
      }

      ready() {
        super.ready();
        this._resizeParagraph();
        window.addEventListener('resize', () => {
          this._resizeParagraph();
        });
      }

    }
    window.customElements.define(CpvForm.is, CpvForm);  
  </script>
</dom-module>