<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<script src="../../bower_components/chart.js/dist/Chart.min.js"></script>

<dom-module id="cpv-charts">
  <template>
    <style>
      :host {
        display: block;
        font-family: var(--cpv-font-base, 'Comfortaa');
      }
    </style>
    <div style="width:600px; display: none;" id="radarContainer">
      <canvas height="2" width="4" id="radar"></canvas>
    </div>
    <div style="width:600px; display: none" id="barContainer">
      <canvas height="2" width="4" id="bar"></canvas>
    </div>
  </template>
  <script>
    class CpvCharts extends Polymer.Element {
      static get is() {
        return 'cpv-charts';
      }
      static get properties() {
        return {
          whatPercent1: Number,
          whatPercent2: Number,
          whatPercent3: Number,
          howPercent1: Number,
          howPercent2: Number,
          howPercent3: Number,
          whoPercent1: Number,
          whoPercent2: Number,
          whoPercent3: Number,
          radarData: {
            type: Array,
            computed: '_computePercentData(whatPercent1, whatPercent2, whatPercent3, whoPercent1, whoPercent2, whoPercent3, howPercent1, howPercent2, howPercent3)'
          },
          radarChart: {},
          radarImage: {
            type: String,
            notify: true
          },
          whatScope: Number,
          whoScope: Number,
          howScope: Number,
          companyScope: Number,
          barcharPatitoData: {
            type: Array,
            computed: '_computePercentData(companyScope, whatScope, whoScope, howScope)'
          },
          barChartInsuficientData: {
            type: Array,
            computed: '_computeComplementData(companyScope, whatScope, whoScope, howScope)'
          },
          barChart: {},
          barImage: {
            type: String,
            notify: true
          }
        }
      }

      _computePercentData() {
        let data = [];
        for (let i = 0; i < arguments.length; i++) {
          data.push(parseFloat(arguments[i] * 100).toFixed(2));
        }
        return data;
      }

      _computeComplementData() {
        let data = [];
        for (let i = 0; i < arguments.length; i++) {
          data.push(parseFloat((1 - arguments[i]) * 100).toFixed(2));
        }
        return data;
      }

      generateCharts() {
        this.$.radarContainer.style.display = 'block';
        this.$.barContainer.style.display = 'block';
        if (this.radarChart !== undefined) this.radarChart.destroy();
        var ctx = this.$.radar.getContext('2d');
        this.radarChart = new Chart(ctx, {
          type: 'radar',
          data: {
            labels: ['visión empresarial', 'institucionalización', 'cultura', 'saber hacer', 'medición', 'capital humano', 'procesos', 'ingeniería de negocio', 'áreas de soporte'],
            datasets: [{
              label: '% de avance por variable de análisis',
              backgroundColor: 'rgba(247, 135, 29, .8)',
              data: this.radarData
            }]
          },
          options: {
            animation: {
              duration: 0
            },
            scale: {
              ticks: {
                callback: (value, index, values) => {
                  return index == 6 ? '' : value;
                },
                min: 0,
                max: 105,
                stepSize: 20,
                fontSize: 9,
                backdropColor: 'transparent'
              },
              pointLabels: {
                fontSize: 11,
              },
              gridLines: {
                color: [
                  'rgb(195, 195, 195)',
                  'rgb(195, 195, 195)',
                  'rgb(195, 195, 195)',
                  'rgb(195, 195, 195)',
                  'rgb(195, 195, 195)',
                  'transparent'
                ]
              }
            }
          }
        });
        if (this.barChart !== undefined) this.barChart.destroy();
        var ctx2 = this.$.bar.getContext('2d');
        this.barChart = new Chart(ctx2, {
          type: 'horizontalBar',
          data: {
            datasets: [
              {
                label: 'insuficiencia',
                backgroundColor: 'rgba(247, 135, 29, 1)',
                data: this.barChartInsuficientData
              },
              {
                label: 'patito',
                backgroundColor: 'rgba(51, 51, 51, 1)',
                data: this.barcharPatitoData
              }
            ]
          },
          options: {
            defaultFontFamily: Chart.defaults.global.defaultFontFamily = "'Comfortaa'",
            barPercentage: 1.0,
            animation: {
              duration: 0,
            },
            scales: {
              xAxes: [{
                stacked: true,
                ticks: {
                  callback: (value, index, values) => {
                    return value + '%';
                  }
                }
              }],
              yAxes: [{
                stacked: true,
                type: 'category',
                labels: ['empresa', 'qué', 'con quién', 'cómo']
              }]
            }
          }
        });
        this.$.radarContainer.hidden=true;
        this.$.barContainer.hidden=true;
        setTimeout(() => {
          this.set('radarImage', this.$.radar.toDataURL());
          this.set('barImage', this.$.bar.toDataURL());
          this.$.radarContainer.style.display = 'none';
          this.$.barContainer.style.display = 'none';
          this.dispatchEvent(new CustomEvent('images-ready', {
            bubbles: false,
            composed: true
          }));
        }, 500);
      }
    }
    window.customElements.define(CpvCharts.is, CpvCharts);
  </script>
</dom-module>