<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="cpv-ready">
  <template>
    <style>
      :host {
        display: block;
        --paper-dialog:{
          font-family: var(--cpv-font-base, 'Comfortaa');
        }
        --paper-font-title:{
          color: rgb(247, 135, 29);
          font-weight: bold;
          font-size: 1.35rem;
          text-align: center;
          padding-top: 6rem;
        }
      }
      #close-dialog{
        float: right;
        background: #ccc;
        color: #fff;
        border-radius: 1.3rem;
        margin: -9.7rem -1rem 0 0;
        padding: 0.3rem;
      }
      p{
        padding-bottom: 6rem;
      }
    </style>

    <paper-dialog opened="{{opened}}" modal id="ready">
      <h2>listo!</h2>
      <iron-icon id="close-dialog" dialog-dismiss icon="icons:close" on-tap="_notifyReady"></iron-icon>
      <p>revisa tu correo en donde encontrarás los resultado de tu empresa</p>
    </paper-dialog>

  </template>

  <script>
    /**
     * `cpv-ready` Show final message after send email
     *
     * @summary message while proces is ready.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class CpvReady extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'cpv-ready';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          opened: {
            type: Boolean,
            value: false
          }
        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      openModal() {
        this.set('opened', true);
        this.$.ready.withBackdrop = false;
      }

      _notifyReady(){
        this.dispatchEvent(new CustomEvent('reload', {
          bubbles: false,
          composed: true
        }));
      }

    }

    window.customElements.define(CpvReady.is, CpvReady);
  </script>
</dom-module>