<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/d2l-loading-spinner/d2l-loading-spinner.html">

<dom-module id="cpv-email">
  <template>
    <style>
      :host {
        display: block;
        font-family: var(--cpv-font-base, 'Comfortaa');
        --paper-font-title: {
          font-family: var(--cpv-font-base, 'Comfortaa');
          color: rgb(247, 135, 29);
          font-weight: bold;
          font-size: 1.35rem;
        }
        --paper-input-container-label: {
          font-family: var(--cpv-font-base, 'Comfortaa');
        }
        --paper-input-error: {
          font-family: var(--cpv-font-base, 'Comfortaa');
        }
        --paper-input-container-shared-input-style: {
          font-family: var(--cpv-font-base, 'Comfortaa');
        }
        --d2l-loading-spinner-color: rgb(247, 135, 29);
      }

      paper-dialog {
        font-family: var(--cpv-font-base, 'Comfortaa');
      }

      paper-button {
        font-family: var(--cpv-font-base, 'Comfortaa');
        background-color: rgb(247, 135, 29);
        text-transform: lowercase;
        font-weight: bold;
        color: #fff;
      }

      paper-button.disabled {
        background-color: gray;
      }

      p {
        max-width: 37rem;
      }

      .error {
        background-color: #f2dede;
        color: #a94442;
        margin: 0 1rem;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
      }
      @media screen and (max-height: 480px){
        h2, p {
          display: none;
        }
      } 
    </style>

    <paper-dialog id="emailModal" modal opened="{{opened}}">

      <h2>estás a nada de conocer la situación de tu empresa!</h2>
      <p>ingresa tu nombre y una dirección de correo válida para enviarte los resultados del ejercicio que vendrán acompañados
        con nuestra opinión de alto nivel sobre los 9 elementos que considera la "matriz de valoración"
        <strong>conviccion</strong>
      </p>
      <dom-if if="[[showError]]">
        <template>
          <p class="error">
            <iron-icon icon="icons:error"></iron-icon>
            Ocourrió un error al intentar realizar el envío, por favor intentalo de nuevo!
          </p>
        </template>
      </dom-if>
      <paper-input label="nombre(s)" value="{{name}}" invalid="{{nameInvalid}}" auto-validate required error-message="este campo es obligatorio">
        <iron-icon icon="icons:account-box" slot="prefix"></iron-icon>
      </paper-input>
      <paper-input label="apellido(s)" value="{{lastname}}" invalid="{{lastnameInvalid}}" auto-validate required error-message="este campo es obligatorio">
        <iron-icon icon="icons:account-box" slot="prefix"></iron-icon>
      </paper-input>
      <paper-input label="email" type="email" value="{{email}}" invalid="{{emailInvalid}}" auto-validate required error-message="ingresa una dirección de correo válida">
        <iron-icon icon="icons:mail" slot="prefix"></iron-icon>
      </paper-input>
      <div class="buttons">
        <d2l-loading-spinner hidden="[[!loading]]"></d2l-loading-spinner>
        <paper-button on-tap="_sendMail" disabled="{{buttonDisabled}}" class$="[[_buttonClass(buttonDisabled)]]"> Enviar resultados </paper-button>
      </div>
    </paper-dialog>
    <iron-ajax id="sender" url="[[host]]" method="POST" on-response="_mailSended" on-error="_mailFail"> </iron-ajax>

  </template>

  <script>
    /**
     * `cpv-email` Request contact data an send email with Congruent Product Valutation Results
     *
     * @summary Sender email data.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class CpvEmail extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'cpv-email';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          host: String,
          opened: Boolean,
          name: String,
          nameInvalid: Boolean,
          lastname: String,
          lastnameInvalid: Boolean,
          email: String,
          emailInvalid: Boolean,
          radarImage: String,
          barImage: String,
          whatIndicator1Response: Number,
          whatIndicator2Response: Number,
          whatIndicator3Response: Number,
          whoIndicator1Response: Number,
          whoIndicator2Response: Number,
          whoIndicator3Response: Number,
          howIndicator1Response: Number,
          howIndicator2Response: Number,
          howIndicator3Response: Number,
          companyScope: Number,
          impactQuadrant: Number,
          buttonDisabled: {
            type: Boolean,
            computed: '_buttonDisabled(nameInvalid, lastnameInvalid, emailInvalid)'
          },
          loading: {
            type: Boolean,
            value: false
          },
          showError: {
            type: Boolean,
            value: false
          }
        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized. 
       */
      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function () {

        });
      }
      /**
       * Open Modal with request data Form
       */
      openModal() {
        this.set('opened', true);
        this.$.emailModal.withBackdrop = false;
      }

      /**
       * Generate request to send data
       */
      _sendMail() {
        this.set('loading', true);
        this.set('showError', false);
        var fdata = new FormData();
        fdata.append('name', this.name);
        fdata.append('lastname', this.lastname);
        fdata.append('email', this.email);
        [1, 2, 3].forEach((i => {
          ['what', 'who', 'how'].forEach(j => {
            fdata.append(j + i, this[`${j}Indicator${i}Response`]);
          });
        }));
        fdata.append('companyScope', this.companyScope);
        fdata.append('impactQuadrant', this.impactQuadrant);
        fdata.append('radarImage', this.radarImage);
        fdata.append('barImage', this.barImage);

        this.$.sender.body = fdata;
        this.$.sender.generateRequest();
      }

      /**
       * Validate if the button must be disabled
       */
      _buttonDisabled() {
        for (let i = 0; i < arguments.length; i++) {
          if (arguments[i]) return true;
        }
        return false;
      }
      /**
       * Asing class button
       */
      _buttonClass(disabled) {
        return disabled ? 'disabled' : '';
      }
      /**
       * Request success handler
       */
      _mailSended() {
        this.set('loading', false);
        this.set('opened', false);
        this.dispatchEvent(new CustomEvent('finish', {
          bubbles: false,
          composed: true
        }));
      }

      /**
       * Request failure handler
       */
      _mailFail() {
        this.set('loading', false);
        this.set('showError', true);
      }

    }

    window.customElements.define(CpvEmail.is, CpvEmail);
  </script>
</dom-module>