<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa" type="text/css">

<link rel="import" href="../cpv-dm/cpv-dm.html">
<link rel="import" href="../cpv-form/cpv-form.html">
<link rel="import" href="../cpv-charts/cpv-charts.html">
<link rel="import" href="../cpv-email/cpv-email.html">
<link rel="import" href="../cpv-ready/cpv-ready.html">

<dom-module id="congruent-product-valuation-app">
  <template>
      <style>
        :host {
          display: block;
          --cpv-font-base: 'Comfortaa';
          --cpv-font-size-base: 0.85rem;
          font-size: var(--cpv-font-size-base);
          color: rgb(51,51,51);
        }
      </style>
      <cpv-form
        vendor-folder="[[vendorFolder]]"
        what-indicator1="{{whatIndicator1}}"
        what-indicator2="{{whatIndicator2}}"
        what-indicator3="{{whatIndicator3}}"
        who-indicator1="{{whoIndicator1}}"
        who-indicator2="{{whoIndicator2}}"
        who-indicator3="{{whoIndicator3}}"
        how-indicator1="{{howIndicator1}}"
        how-indicator2="{{howIndicator2}}"
        how-indicator3="{{howIndicator3}}"
        on-see-results="_continue"></cpv-form>
      <cpv-charts id="charts"
        what-percent1="[[whatPercent1]]"
        what-percent2="[[whatPercent2]]"
        what-percent3="[[whatPercent3]]"
        how-percent1="[[howPercent1]]"
        how-percent2="[[howPercent2]]"
        how-percent3="[[howPercent3]]"
        who-percent1="[[whoPercent1]]"
        who-percent2="[[whoPercent2]]"
        who-percent3="[[whoPercent3]]"
        what-scope="[[whatScope]]"
        who-scope="[[whoScope]]"
        how-scope="[[howScope]]"
        company-scope="[[companyScope]]"
        radar-image="{{radarImage}}"
        bar-image="{{barImage}}"
        on-images-ready="_email"></cpv-charts>
      <cpv-email
        id="email"
        host="[[host]]"
        radar-image="[[radarImage]]"
        bar-image="[[barImage]]"
        what-indicator1-response="[[whatIndicator1]]"
        what-indicator2-response="[[whatIndicator2]]"
        what-indicator3-response="[[whatIndicator3]]"
        how-indicator1-response="[[howIndicator1]]"
        how-indicator2-response="[[howIndicator2]]"
        how-indicator3-response="[[howIndicator3]]"
        who-indicator1-response="[[whoIndicator1]]"
        who-indicator2-response="[[whoIndicator2]]"
        who-indicator3-response="[[whoIndicator3]]"
        company-scope="[[companyScope]]"
        impact-quadrant="[[impactQuadrant]]"
        on-finish="_finish"></cpv-email>
        <cpv-ready id="ready"
        on-reload="_reload"></cpv-ready>
      <cpv-dm 
        what-indicator1-response="[[whatIndicator1]]"
        what-indicator2-response="[[whatIndicator2]]"
        what-indicator3-response="[[whatIndicator3]]"
        how-indicator1-response="[[howIndicator1]]"
        how-indicator2-response="[[howIndicator2]]"
        how-indicator3-response="[[howIndicator3]]"
        who-indicator1-response="[[whoIndicator1]]"
        who-indicator2-response="[[whoIndicator2]]"
        who-indicator3-response="[[whoIndicator3]]"
        what-indicator1-percent="{{whatPercent1}}"
        what-indicator2-percent="{{whatPercent2}}"
        what-indicator3-percent="{{whatPercent3}}"
        how-indicator1-percent="{{howPercent1}}"
        how-indicator2-percent="{{howPercent2}}"
        how-indicator3-percent="{{howPercent3}}"
        who-indicator1-percent="{{whoPercent1}}"
        who-indicator2-percent="{{whoPercent2}}"
        who-indicator3-percent="{{whoPercent3}}"
        what-scope="{{whatScope}}"
        who-scope="{{whoScope}}"
        how-scope="{{howScope}}"
        company-total-percent="{{companyScope}}"
        impact-quadrant="{{impactQuadrant}}"></cpv-dm>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CongruentProductValuationApp extends Polymer.Element {
      static get is() { return 'congruent-product-valuation-app'; }
      static get properties() {
        return {
          host:{
            type: String,
            value: './'
          },
          vendorFolder: {
            type: String,
            value: ''
          }
        };
      }

      _continue(){
        this.$.charts.generateCharts();
      }

      _email(){
        this.$.email.openModal();
      }

      _finish(){
        this.$.ready.openModal();
      }

      _reload(){
        window.location.reload(true);
      }
    }

    window.customElements.define(CongruentProductValuationApp.is, CongruentProductValuationApp);
  </script>
</dom-module>
